html {
    height: 100;
}
body {
    height: 100%;
    padding: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(to top, #005BBB 0%, #FFD500 100%);
    background: url('./assets/img/sunflowers.jpg') no-repeat center fixed;
    background-size: cover;
}

/*temp strong style*/
strong{
    font-weight: bolder !important;
}

blockquote{
    margin: 1%;
    padding-left: 1.5rem;
    border: 5px; /* Just change the color value and that's it*/
    font-size: 19px;
    }

p {
    font-size: 18px; 
}

nav {
    background: #005BBB
}

section {
    margin: 1%
}

.card {
    background: linear-gradient(to top, #005BBB 0%, #FFD500 100%);
    padding: 1%;
    margin: 1% 7%;
    border-radius: 25px
}

.intro {
    animation-duration: 0.6s;
    animation-name: slidein-1;
}

.main {
    animation-duration: 0.6s;
    animation-name: slidein-2;
}

.order {
    animation-duration: 0.6s;
    animation-name: slidein-1;
}

@keyframes slidein-1 {
    from {
      margin-left: 100%;
      /* width: 300%; */
    }
    to {
      margin-left: 7%;
      /* width: 100%; */
    }
  }

@keyframes slidein-2 {
    from {
        margin-right: 100%;
        /* width: 300% */
    }
    to {
        margin-right: 7%;
        /* width: 100% */
    }
}